@using DevGoodies.Interfaces
@using DevGoodies.Models.Pages
@using DevGoodies.Business.ExtensionMethods

@model IPageViewModel<BasePage>

<!DOCTYPE html>
<html lang="@Model.CurrentPage.Language">
<head>
  <title>@(Model.CurrentPage.MetaTitle ?? Model.CurrentPage.Name)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="@Model.CurrentPage.MetaKeywords" />
  <meta name="description" content="@Model.CurrentPage.MetaDescription" />
  @Html.CanonicalLink()
  @Html.AlternateLinks()
  @Html.OpenGraphMetaTags()
  @*Render stylesheets and js here*@
</head>
<body>
  @Html.RenderEPiServerQuickNavigator() @* Render EPiServer menu for Editors *@

  <h1>@Model.CurrentPage.OgTypes</h1>

  @Html.Partial("_MainMenu")
  @RenderBody()
</body>
</html>
