@using DevGoodies.ViewModels
@using EPiServer.Web.Mvc.Html

@using DevGoodies.Models.Blocks

@model PageViewModel<DevGoodies.Models.Pages.StartPage>

<h1 @Html.EditAttributes(x => x.CurrentPage.Heading)>
  @(Model.CurrentPage.Heading ?? Model.CurrentPage.Name)
</h1>

<div>
  @Html.PropertyFor(x => x.CurrentPage.MainBody)
</div>

<div>
  @Html.PropertyFor(x => x.CurrentPage.MainContentArea)
</div>

<h2>Event list as content area</h2>
<div>
  @Html.PropertyFor(x => x.CurrentPage.EventListContentArea)
</div>
<hr />

<h2>Event list as block property</h2>
<div>
  @Html.PropertyFor(x => x.CurrentPage.EventBlockAsProperty)
</div>
<hr />

<h2>Event list of content references</h2>
<div>
  @Html.PropertyFor(x => x.CurrentPage.EventListContentReferences)
</div>
<hr />

<h2>Event list as reference to an assets folder</h2>
<div>
  @Html.PropertyFor(x => x.CurrentPage.EventListAssetsFolderReference)
</div>